{% extends './layout.html' %}

{% block content %}


<h3>{{ event.name }}</h3>

<ul class="list-group">
  <li class="list-group-item">
    <img src="https://cdn0.iconfinder.com/data/icons/sport-balls/128/gold_medal.png" alt="Gold" style="max-width:50px">
    <span style="font-weight:bold">{{event.goldWinner}}</span> ({{ event.goldCountry }})
  </li>
  <li class="list-group-item">
    <img src="https://cdn0.iconfinder.com/data/icons/sport-balls/128/silver_medal.png" alt="Silver" style="max-width:50px">
    <span style="font-weight:bold">{{event.silverWinner}}</span> ({{ event.silverCountry }})
  </li>
  <li class="list-group-item">
    <img src="https://cdn0.iconfinder.com/data/icons/sport-balls/128/bronze_medal.png" alt="Bronze" style="max-width:50px">
    <span style="font-weight:bold">{{event.bronzeWinner}}</span> ({{ event.bronzeCountry }})
  </li>
</ul>

<a href="/events/{{event.id}}/edit"><button class="btn btn-outline-success" style="margin:20px 0px">Edit {{event.name}}</button></a>
<br>
<a href="/events">&laquo; Back to all events</a>
{% endblock %}
