{% extends './layout.html' %}

{% block content %}

<h3>Add Event</h3>
<form action="/events/{{event.id}}" method="POST" style="margin-bottom:20px;">
  <div class="form-row" style="margin:0;">
    <div class="form-group col-md-2">
      <label style="font-weight: bold">Gender</label>
      <select name="gender" class="form-control">
        <option selected>Select...</option>
        <option>M</option>
        <option>F</option>
      </select>
    </div>
    <div class="form-group col-md-10">
      <label style="font-weight: bold">Event</label>
      <input class="form-control" type="text" name="name" placeholder="Event name"/>
    </div>
  </div>
  <!-- GOLD -->
  <div class="form-row" style="margin:0;">
    <div class="form-group col-md-7">
      <label style="font-weight: bold">Gold Medal</label>
      <input type="text" class="form-control" name="goldWinner" placeholder="Name" />
    </div>
    <div class="form-group col-md-5">
      <label>&nbsp;</label>
      <input type="text" class="form-control" name="goldCountry" placeholder="Country" />
    </div>
  </div>
  <!-- SILVER -->
  <div class="form-row" style="margin:0;">
    <div class="form-group col-md-7">
      <label style="font-weight: bold">Silver Medal</label>
      <input type="text" class="form-control" name="silverWinner" placeholder="Name" />
    </div>
    <div class="form-group col-md-5">
      <label>&nbsp;</label>
      <input type="text" class="form-control" name="silverCountry" placeholder="Country" />
    </div>
  </div>
  <!-- BRONZE -->
  <div class="form-row" style="margin:0;">
    <div class="form-group col-md-7">
      <label style="font-weight: bold">Bronze Medal</label>
      <input type="text" class="form-control" name="bronzeWinner" placeholder="Name" />
    </div>
    <div class="form-group col-md-5">
      <label>&nbsp;</label>
      <input type="text" class="form-control" name="bronzeCountry" placeholder="Country" />
    </div>
  </div>
  <button class="btn btn-primary">Add Event</button>
</form>


<ul class="list-group">
{% for event in events %}

  <li class="list-group-item">
    <a href="/events/{{event.id}}">
      <h5>{{event.gender}} {{event.name}}</h5>
    </a>
    <a href="/events/{{event.id}}/edit">
      <button style="margin:5px 0px 15px;" class="btn btn-outline-success">Edit Event</button>
    </a>
    <form action="/events/{{event.id}}?_method=DELETE" method="POST">
      <button class="btn btn-outline-danger">Delete Event</button>
    </form>
  </li>

{% endfor %}
</ul>

{% endblock %}
